._Header-module__header {
    grid-area: h;
    background-color: rgba(26, 188, 156, 0.6);
}

._Header-module__header {
    border: 1px solid #000;
}
._Navbar-module__navbarWrapper {
    grid-area: n;
    background-color: rgba(26, 188, 156, 0.6);
    padding: 10px;
}

._Navbar-module__nav {
    margin: 0;
}

._Navbar-module__navList {
    padding: 0;
    list-style: none;
}
._Navbar-module__item {
    font-size: 28px;
}
._Navbar-module__item a {
    color: aliceblue;
    text-decoration: none;

}

._Navbar-module__item a._Navbar-module__activeLink {
    color: gold;
}

._Navbar-module__friendsBar {
    margin-top: 50px;
    padding: 10px;
}

._Navbar-module__friendsList {
    padding: 0;
    list-style: none;
    display: grid;
    grid-auto-flow: column;
}

._Friends-module__avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}



._Friends-module__active {
	color: gold;
}

._Friends-module__listItem {
	display: grid;
	place-items: center center;
}
._Footer-module__footer {
    border: 1px solid #000;
}

._Footer-module__footer {
    grid-area: f;
}
._profile-module__profile {
    grid-area: c;
    border: 1px solid #000;
    background-color: darkcyan;
}



._Post-module__item {
	color: yellow;
	border: 1px solid #ffffff1b;
	margin: 15px 0;
	display: grid;
	grid-template-columns: 100px 10fr;
	grid-template-rows: 2fr 50px;
	align-items: center;
	padding: 10px 20px;
	background-color: #ffffff1a;
}

._Post-module__item img {
	max-width: 100px;
}

._Post-module__item._Post-module__active {
	color: aliceblue;
}

._ProfileInfo-module__profileHeader {
    background-color: aqua;
}
._ProfileInfo-module__avatar img {
    max-width: 300px;
}
._Dialogs-module__dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

._Dialogs-module__dialogsList {
    list-style: none;
    padding: 0;
    display: grid;
}


._Dialogs-module__dialog {
    color: black;
    font-size: 18px;
    text-decoration: none;
}


._Dialogs-module__messages {}


._DialogItem-module__item {
	display: grid;
	grid-auto-flow: column;
	gap: 5px;
	place-items: center center;
	grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}
._DialogItem-module__ava {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
._DialogItem-module__active {
	color: gold;
}
._Message-module__message {
	background-color: coral;
	margin: 15px 0;
	padding: 20px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
._Music-module__musicList {
	display: grid;
	gap: 10px;
	padding: 10px;
}
._Music-module__musicItem {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
}

._Music-module__title {
	
}


body {
	padding: 0;
	margin: 0;
	font-family: 'Amatic SC', cursive;
}
._app__appWrapper {
	display: grid;
	background-color: #34495e;

	grid-template-areas:
            'h h'
            'n c'
            'f f';
	grid-template-rows: 100px 1fr;
	grid-template-columns: 2fr 10fr;
	min-height: 100vh;
}

._app__appWrapperContent {
	background-color: cadetblue;
	padding: 20px;
}
/*# sourceMappingURL=react-3.ccece8a3.css.map */
