@font-face {
    font-family: 'gotham';
    src: url('GothamProBlack.ttf');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'gotham';
    src: url('GothamProBlackItalic.ttf');
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: 'gotham';
    src: url('GothamProBold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'gotham';
    src: url('GothamProBoldItalic.ttf');
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'gotham';
    src: url('GothamProItalic.ttf');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'gotham';
    src: url('GothamProRegular.ttf');
    font-style:normal;
    font-weight: 400;
}
@font-face {
    font-family: 'gotham';
    src: url('GothamProLight.ttf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'gotham';
    src: url('GothamProMedium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'gotham';
    src: url('GothamProMediumItalic.ttf');
    font-style: italic;
    font-weight: 500;
}