@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666
img
	max-width: 100%
*
	outline: none
a:focus
	outline: none
	text-decoration: none

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	overflow-x: hidden
	font-family: $default-font
	background-color: #34495e
	color: $main-color
	opacity: 1
	padding-top: 10px

h1
	margin: 0

.container
	max-width: 1170px 

// header
.header
	padding-bottom: 40px
	background-color: rgba(26, 188, 156, 0.6)
	box-shadow: 1px 1px 5px 0px black
	.header-top	
		padding-top: 20px
		&__wrap, &__logo
			display: flex
			align-items: center
			justify-content: space-between
		&__logo
			p
				margin: 0
				font-size: 33px
				font-weight: 700
				color: #34495e
				span
					color: $color-h
			> span
				font-size: 12px
				font-weight: 400
				align-self: flex-start

	.pages-title
		// margin-top: 115px
		&__wrap
			display: flex
			align-items: center
			justify-content: space-between
		&__title
			h1
				font-size: 22px
				font-weight: 400
			p
				font-size: 15px
				font-weight: 400
				margin-left: 20px
		&__links
			background-color: rgba(183, 193, 208, 0.56)
			position: relative
			padding: 15px			
			span
				font-size: 18px
				font-weight: 400
				text-transform: uppercase
				color: #bdc3c7
			ul
				list-style: none
				padding: 0
				margin-bottom: 0
				li
					display: inline-block
					margin-right: 8px
	.header-image
		width: 150px
		height: 150px
		display: flex
		margin: 0 auto
		background-color: #FFF
		border-radius: 50%
		img
			margin: auto

// 

// main
main
	padding-top: 10px
	text-align: center
	h2
		font-size: 18px
		font-weight: 700
		margin: 0
	.wrap-grids
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		margin-top: 40px

		.wrap-grids__item 
			max-width: 260px
			margin-left: 20px
			margin-bottom: 30px
			text-align: center
			position: relative
			cursor: pointer
			&:before
				content: ''
				transition: all 500ms
				position: absolute
				top: 0
				left: 0
				max-width: 260px
				width: 100%
				height: 175px
				z-index: 1
			&:hover::before
				background-color: rgba(7, 9, 10, 0.72)
				border: 1px solid rgba(26, 188, 156, 0.6)
			&:hover .item__img				
				span
					opacity: 1
				img
					transform: scale(1.2)

			p
				font-size: 16px
				font-weight: 700
				color: #ecf0f1
			.item__img
				position: relative
				max-width: 260px
				overflow: hidden
				img
					transition: all 500ms
				span
					position: absolute
					transition: all 500ms
					opacity: 0
					top: calc(50% - 17.5px)
					left: calc(50% - 35px)
					width: 70px
					height: 35px
					z-index: 2
					border: 1px solid #1c9079
					background: rgba(26, 188, 156, 0.6) url(../img/look-icon.png) 50% 50% no-repeat
					&:before, &:after
						content: ''
						display: block
						position: absolute
						top: -10px
						left: 5px
						width: 13px
						height: 10px
						background-color: rgba(28, 144, 121, 0.7)
					&:after
						left: auto
						right: 5px

//

// footer
.footer
	padding-top: 65px
	padding-bottom: 40px
	margin-top: 40px
	margin-bottom: 10px
	background-color: rgba(26, 188, 156, 0.6)
	box-shadow: 1px 1px 5px 0px black

	&__wrapper
		display: flex
		justify-content: space-between
	&__title
		font-size: 16px
		font-weight: 700
		text-transform: uppercase
	&__info
		max-width: 265px
		p
			font-size: 13px
			font-weight: 400
			a
				margin-left: 5px
				color: $main-color
				transition: all 300ms
				&:hover
					color: $color-h
					text-decoration: none
	&__form
		max-width: 600px
		width: 100%
		form
			display: flex
			flex-wrap: no-wrap
			margin-top: 18px
			justify-content: space-between
			width: 100%
			> div:first-child
				display: flex
				flex-wrap: wrap
				width: 100%
				justify-content: space-between

			input
				width: 48%
				height: 35px
				padding: 0 15px
				border: 1px dashed $main-color
			textarea, input
				color: #666
				transition: all 2s
				&::-webkit-input-placeholder
					color: $main-color
					font-size: 13px
					transition: all 0.3s ease
				&::-moz-placeholder
					color: $main-color /* Firefox 19+ */
					font-size: 13px
					transition: all 0.3s ease
				&:-ms-input-placeholder
					color: $main-color
					font-size: 13px
					transition: all 0.3s ease
				&:focus::-webkit-input-placeholder
					opacity: 0
					transition: all 0.3s ease
				&:focus::-moz-placeholder
					opacity: 0
					transition: all 0.3s ease
				&:focus:-ms-input-placeholder
					opacity: 0
					transition: all 0.3s ease
				&:focus
					border-style: solid
			textarea
				max-width: 600px
				width: 100%
				height: 120px
				margin-top: 15px
				padding: 15px
				border: 1px dashed $main-color
				resize: none
				overflow: hidden
			button
				width: 35px
				height: 170px
				margin-left: 10px
				padding: 10px
				word-wrap: break-word
				background-color: #fff
				border: 1px dashed $main-color
				font-weight: 300
				transition: all 200ms
				&:hover
					border-style: 1px $main-color


// 
.frame-wrap
	position: fixed
	top: 0
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.49)
	display: none
	z-index: 5
	#close-frame
		position: absolute
		top: 30px
		right: 150px
		right: 130px
		width: 24px
		height: 24px
		border: none
		background: transparent url("../img/close.png") no-repeat
	.myframe
		display: none
		position: absolute
		top: 50px
		z-index: 10
		left: calc(50% - 500px)
		width: 1000px
		height: 600px
.hidden-y
	overflow-y: hidden

@import "src/media"
// Всегда в конце
