$default-font: 'Lato', sans-serif
$color-green: rgb(26, 188, 156)
$color-green-clear: rgba(26, 188, 156, 0.6)
$dark-blue-gray: #34495e
$black-tranparent: rgb(0 0 0 / 67%)
$main-color: #fff


html, body
	height: 100%

body
	position: relative
	display: flex
	flex-direction: column
	margin: 0
	padding: 0

.content
	flex: 1 0 auto
.footer
	flex-shrink: 0

*, *::before, *::after
	box-sizing: border-box
*, a
	&:focus
		outline: 2px solid orange
img
	max-width: 100%

body
	font-size: 16px
	min-width: 320px
	line-height: 1.4
	overflow-x: hidden
	font-family: $default-font
	background-color: $dark-blue-gray
	color: $main-color

.page-wrapper
	position: relative	

p
	margin: 0

.mt-20
	margin-top: 20px

h1
	margin: 0

.container
	max-width: 1170px
	margin: 0 auto
	padding: 0 15px

.header
	padding-top: 20px
	padding-bottom: 40px
	background-color: $color-green-clear
	box-shadow: 1px 1px 5px 0px black

.name-title
	font-size: 18px
	margin: 0

// logo
.logo
	display: flex
	max-width: 130px
	text-decoration: none
	&:focus
		text-decoration: none
	&__text
		margin: 0
		font-size: 33px
		font-weight: 700
		color: $dark-blue-gray
		font-style: italic
		&_filled
			color: $color-green
	&__text-small
		font-size: 12px
		font-weight: 400
		align-self: flex-start
		color: #fff
		box-shadow: -1px 0px 3px 0px #00000063
		border-radius: 4px
		border-bottom-left-radius: 0px


.header-content
	display: flex
	align-items: start
	padding-top: 40px
	flex-wrap: wrap
	@media screen and (min-width: 768px)
		flex-wrap: nowrap
	&__wrap
		padding-top: 10px
		max-width: 100%
		margin-left: 20px
		@media screen and (min-width: 470px)
			max-width: 270px
		@media screen and (min-width: 550px)
			max-width: 300px
		@media screen and (min-width: 650px)
			max-width: 400px
		@media screen and (min-width: 768px)
			max-width: 600px
			padding-top: 0
			padding-left: 40px
			margin-right: 40px
			margin-left: 0
	&__text
		font-weight: 400
		font-size: 14px

.page-title
	font-size: 22px
	font-weight: 400
	@media screen and (max-width: 375px)
		font-size: 18px
.page-subtitle
	font-size: 16px
	font-weight: 300
	font-style: italic
	margin: 0 auto
	margin-left: 20px
	@media screen and (max-width: 375px)
		font-size: 12px
		margin-left: 10px

.contact-info
	margin-left: 0
	margin-top: 20px
	@media screen and (min-width: 768px)
		margin-left: auto
		margin-top: 0
	&__string
		font-size: 13px
		font-weight: 400
		margin: 10px 0
	&__link
		margin-left: 5px
		color: $main-color
		transition: all 300ms
		&:hover
			text-decoration: none

.contact-list
	padding-left: 0
	list-style: none	
	@media screen and (max-width: 767px)
		display: grid
		grid-template-columns: 1fr 1fr
		column-gap: 30px
.photo-frame
	width: 200px
	height: 200px
	display: flex
	background-color: #FFF
	overflow: hidden
	margin-top: 10px
	cursor: pointer
	@media screen and (min-width: 470px)
		width: 150px
		height: 150px
	@media screen and (min-width: 550px)
		width: 200px
		height: 200px
	&__image
		margin: auto
		width: 100%
		height: 100%
		object-fit: cover

.photo-opened
	display: none
	position: absolute
	inset: 0
	z-index: 100
	padding-top: 40px
	background-color: $black-tranparent
	justify-content: start
	align-items: center
	flex-direction: column
	cursor: pointer
	&__image
		width: 70%
		max-width: 400px

.btn-close-photo
	margin-top: 20px
	padding: 6px
	border: 1px solid #fff
	border-radius: 12px
	background-color: transparent
	color: #fff
	cursor: pointer
	&:hover, &:focus-visible
		background-color: #fff
		color: #000


.main
	padding-top: 10px
	text-align: center

.section-work
	&__list
		list-style: none
		display: grid
		grid-template-columns: repeat(auto-fill, minmax(150px, auto))
		grid-template-rows: 2fr
		justify-items: left
		justify-content: space-between
		width: 100%
		gap: 20px
		padding: 50px 25px
		background-color: #0000002b

	&__list-item
		position: relative
		a
			color: #fff
			position: relative
			z-index: 1
			padding: 5px 10px
			font-weight: 300
			&:hover, &:focus
				text-decoration: none
			&::before
				content: ''
				position: absolute
				width: 100%
				height: 1px
				background-color: #2f8e83
				opacity: 0
				transition: all .2s
				z-index: -1
				box-shadow: -1px 0px 3px 0px #00000063
			&::before
				left: -100px

			&:hover
				background-color: #2f8e83
				&::before
					opacity: 1
					transition: all .2s
				&::before
					left: 0


.footer
	padding-top: 10px
	padding-bottom: 10px
	margin-top: 40px
	background-color: $color-green-clear
	box-shadow: 1px 1px 5px 0px black
	display: flex
	justify-content: center

.footer-image 
		max-width: 50px	